:root {
    --background-color: #F6F5F5;
    --pink-bg: #EBE4E6;
    --green-bg: #D2E2DD;
    --yellow-bg: #F0E1BD;
    --main-font-color: #263B50;
}

html, body {
    font-family: "NanumMyeongjo";
    background: var(--background-color);
    color: var(--main-font-color);
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}


h1 {
    font-family: "Poiret One";
    font-size: 70px;
    font-weight: 100;
    margin: 0;
}


h2 {
    font-family: "NanumMyeongjo";
    font-size: 25px;
    font-weight: 800;
}

video {
    height: 70%;
    width: 70%;
}

#heading {
    background: var(--pink-bg);
}

#animation {
    background: linear-gradient(to bottom, var(--pink-bg), var(--pink-bg) 80%, var(--background-color) 20%, var(--background-color));

}

#aboutme {
    background: var(--background-color);
    padding: 0px 15vw;
    text-align: left;
}

#aboutBlurb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.aBlurbText {
    background: var(--yellow-bg);
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
}

.aBlurbHead {
    position: relative;
    top: 30px;
    left: 30px;
    width: 100%;
}

#experience {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
}

.resumeHead{
    margin-top: 15px;
    margin-bottom: 0px;
}

.resumeContent{
    margin-top: 5px;
    margin-bottom: 15px;
}

.resumeLink{
    align-self: flex-end; 
    padding-bottom:15px;
}

.techExp {
    background: var(--pink-bg);
    padding-left: 15vw;
    padding-right: 15vw;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: min-content;
    grid-template-areas: 
        "eComp eTitle"
        "eDate eDesc"
        "eLink eDesc";
    text-align: left;
}

.commExp {
    background: var(--green-bg);
    padding-left: 15vw;
    padding-right: 15vw;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: min-content;
    grid-template-areas: 
        "eComp eTitle"
        "eDate eDesc"
        "eLink eDesc";
    text-align: left;
}

.otherExp {
    background: var(--yellow-bg);
    padding-left: 15vw;
    padding-right: 15vw;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: min-content;
    grid-template-areas: 
        "eComp eTitle"
        "eDate eDesc"
        "eLink eDesc";
    text-align: left;
}

#skills {
    background: var(--background-color);
}

#portfolio {
    background: var(--yellow-bg);
}

#blog {
    background: var(--background-color)
}

#contact {
    background: var(--pink-bg)
}